body {
	min-height: 97vh;
    font-family: sans-serif;
	background-color: #d9d9d9;
}

.text-center{
	color:#000;
	text-transform:uppercase;
    font-size: 23px;
    margin: -100px 100px 20;
    display: block;
    text-align: center;
}

p {
    color: #a9a9a9;
    text-align: center;
    font-size: 13.6px;
}

.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: #fdf8f8;
	border-radius:3px;
	padding:50px 110px;
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.input-container{
	position:relative;
	margin-bottom:22px;
    margin-top: 40px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color: #747474;;
    pointer-events:none;
	transition: all 0.2s ease-in-out;
}
.input-container input{
  border:0;
  border-bottom:1px solid #555;
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#000;
  caret-color: #e74c3c;
}
.input-container input:focus{
 border:none;
 outline:none;
 border-bottom:1px solid #e74c3c;
}

.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:15px 130px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
	transition: 0.3s;
}

.btn:hover {
	background-color: #9c362b;
	cursor: pointer;
}

/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;

}

.forgot {
    display: flex;
    align-items: center;
    color: #fff;
	justify-content: flex-end;
	font-size: 15px;
}

.forgot a {
    color: #00BFFF;
	text-decoration: none;
	transition: 0.2s;
}

.forgot a:hover {
    color: #0088b6;
}

.caption-account {
	display: flex;
    align-items: center;
    color: #a9a9a9;
	font-size: 14px;
	justify-content: center;
	padding-top: 20px;
}

.caption-account a {
	color: #00BFFF;
	text-decoration: none;
	transition: 0.2s;
}

.caption-account a:hover {
	color: #0088b6;
}

.caption {
    display: flex;
    align-items: center;
    color: #757373;
	font-size: 14px;
}

.caption a {
    color: #00BFFF;
	text-decoration: none;
	transition: 0.2s;
}

.caption a:hover {
    color: #0088b6;
}
